
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


html{
    scroll-behavior:smooth;
}

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#333;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    transition:0.4s;
    z-index:1000;
}


nav.scrolled{
    background:#008080;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}


.logo{
    font-size:24px;
    font-weight:bold;
}


.nav-links{
    list-style:none;
    display:flex;
}

.nav-links li{
    margin-left:25px;
}


.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
    padding:8px 12px;
    border-radius:5px;
}

.nav-links a:hover{
    background:white;
    color:#333;
}


section{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
}


#home{
    background:#f4f4f4;
}

#about{
    background:#d9f2ff;
}

#services{
    background:#ffe6cc;
}

#contact{
    background:#d5f5d5;
}